<h1>StaticPages#contact</h1>
<p>Find me in app/views/static_pages/contact.html.erb</p>

<h1>Contact</h1>
<h2>Phone</h2>
<p>(123)456-7890</p>
<h2>Email</h2>
<p>email@address.com</p>
<h2>Address</h2>
<p>123 Street Ave
<br>
City, ST 01234</p>