<h1>StaticPages#index</h1>
<p>Welcome! The date and time is <%= Time.now %></p>

<h1>Welcome to This Store</h1>
<h2>Where we sell stuff and things!</h2>
<%= image_tag("giraffe.png", class: "img-responsive first-img" ) %>