<div class="container">
<div class="panel panel-success">
  <div class="panel-heading">SUCCESS!!</div>
  <div class="panel-body">
    <p>Thank you. We have received your message and will respond as soon as possible.</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->

<%= button_to "Back to Homepage", root_path, :method => "get", class: "btn btn-secondary" %>

</div>