<div class="container">
<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>User</th>
      <th>Total</th>
      <th colspan="1">SPACE</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <% if order.product.nil? %>
          <td>EMPTY</td>
        <% else %>
          <td><%= order.product.name %></td>
        <% end %>
        
        <% if order.user.nil? %>
          <td>EMPTY</td>
        <% else %>
          <td><%= order.user.email %></td>
        <% end %>
        
        <% if order.total.nil? %>
          <td>EMPTY</td>
        <% else %>
          <td><%= order.total %></td>
        <% end %>

        <td><%= link_to 'Show', order, class: "option-link" %></td>

      </tr>
    <% end %>
  </tbody>
</table>
</div>