// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item {
    //border: 1px solid #133253;
    border-radius: 10px;
    padding: 15px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    //font-family: 'Exo', Century Gothic, Arial, sans-serif;
}

.item-box .item .item-name {
    a { font-size: 1.5em; font-weight: 900; color: black; }
    a:hover { color: #f58220; background-color: transparent; text-decoration: none;}
    font-family: 'Orbitron', Century Gothic, Arial, sans-serif;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-clr, .item-desc {
    font-family: 'Exo', Century Gothic, Arial, sans-serif;
}

.item-clr {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;     /* fallback */
    max-height: 16px;      /* fallback */
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.toBold {
    font-weight: 900;
}



.add-link:link {
    color: black;
}
.add-link:visited {
    color: black;
}
.add-link:hover {
    color: white;
}
.item-list {
    width: 90%;
    margin: auto;
}
.item-box {
    padding: 15px;
}

.item-img {
    padding: 30px;
    max-height: 300px;
    width: auto;
    margin: auto;
}
.item-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;     /* fallback */
    max-height: 16px;      /* fallback */
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}
hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: #f58220;
}
.item-options{
    text-align: center;
}
.item-options p{
    font-size: 0.8em;
    margin: 0;
}

.edit-op{
    border-left: 1px solid #f58220;
    border-right: 1px solid #f58220;
}

.product-name {
    font-family: 'Orbitron', Century Gothic, Arial, sans-serif;
    font-weight: 900;
    background-color: #f58220;
    padding-left: 5px;
}
.product-box{
    margin-top: 25px;
    margin-bottom: 25px;
}
.product-img{
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.prod-label {
    font-family: 'Orbitron', Century Gothic, Arial, sans-serif;
    font-weight: 900;
}

.option-link {
    font-size: 0.75em;
}
.option-link:link{
    color: black;
}
.option-link:visited{
    color: black;
}
.option-link:hover, .new-link:hover{
    color: #f58220;
    background: transparent;
    text-decoration: none;
    font-weight: 900;
}
.container-fluid .nav li:not(.active) a:hover {
    color: #f58220;
}
.tab-content {
    padding-left: 20px;
    padding-right: 20px;
}

#tabbed-content {
    display: block;
    position: relative;
    top: -6.8em;
    visibility: hidden
}