<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div class="col-md-12 col-xs-12">
<%= link_to '+ Add New Product', new_product_path, class: "add-link" %>
</div>

<div class="container-fluid item-list">
  <%= render @products %>
</div>
